<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/styles")
    @Scripts.Render("~/scripts")
</head>
<body>
    <section class="header">
        <header>
            <nav>
                <a class="title" href="#">vinquire</a>
                <a href="#"><i class="icon-search"></i> VIN Search & Check</a>
                <a href="#"><i class="icon-book"></i> Vehicle History</a>
                <a href="#"><i class="icon-ok-circle"></i> PPSR Report</a>
            </nav>
            <nav class="right">
                <a href="#" class="light">Community</a>
                <a href="#">Help</a>
            </nav>
        </header>
    </section>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
